#scroll-arrow {
    position: absolute;
    top: 15%;
    right: 10%;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 25px solid rgb(220,220,220);
    -webkit-animation: scrollArrow 2s linear infinite;
    animation: scrollArrow 2s linear infinite;
}

#scroll-arrow::before {
    position: absolute;
    content: "";
    background-color: rgb(220,220,220);
    top: -40px;
    left: -6.8px;
    width: 15px;
    height: 20px;
}

#scroll-arrow p {
    position: absolute;
    top: -70px;
    left: -35px;
    background-color: rgb(220,220,220);
    color: rgb(26,29,32);
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.question-text, .answer-text {
    position: relative;
    display: inline-block;
    padding: 10px;
    text-align: left;
    font-weight: bold;
    max-width: 250px;
    border-radius: 15px;
    transition-duration: 0.2s;
}

.question-text {
    background-color: rgb(52,58,64);
    color: rgb(220,220,220);
    margin-top: 10px;
    margin-right: 20vw;
}

.answer-text {
    background-color: rgb(220,220,220);
    color: rgb(52,58,64);
}

.question-text::before, .answer-text::before {
    position: absolute;
    content:"";
    width: 0;
    height: 0;
    bottom: -15px;
}

.question-text::before {
    border-right: 30px solid transparent;
    border-top: 25px solid rgb(52,58,64);
}

.answer-text::before {
    right: 10px;
    border-left: 30px solid transparent;
    border-top: 25px solid rgb(220,220,220);
}

.answer-box {
    float: right;
}

.question-text:hover, .answer-text:hover {
    transform: scale(1.05);
    filter: brightness(1.5);
    transition-duration: 0.2s;
}

.pokemon-sprite {
    width: 60px;
    margin-bottom: 25px;
}

.table-responsive {
    border-radius: 15px;
    margin-bottom: 50px;
    width: 60vw;
    border: 2px solid goldenrod;
    box-shadow: 2px 2px 2px 2px black;
    text-align: center;
    transition-duration: 0.2s;
}

.table-responsive:hover {
    transform: scale(1.04);
    transition-duration: 0.2s;
}

.table {
    margin-bottom: 0;
}

.key-icon {
    font-size: 48px;
    transition-duration: 0.3s;
}

.key-icon:hover {
    transform: scale(1.2);
    filter: brightness(1.8);
    transition-duration: 0.3s;
}

.key-icon:hover .tip-text {
    visibility: visible;
}

.key-icon-tip {
    top: 30%;
    left: -20px;
    min-width: 85px;
    -webkit-opacity: .9;
    opacity: .9;
}

#resume-text {
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(220,220,220);
    margin-bottom: 100px;
}

@media only screen and (max-width: 700px) {
    #scroll-arrow {
        right: 15%;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 18px solid rgb(220,220,220);
    }

    #scroll-arrow::before {
        width: 10px;
        height: 15px;
        top: -30px;
        left: -5px;
    }

    #scroll-arrow p {
        font-size: 12px;
        top: -55px;
        left: -30px;
    }

    .question-text, .answer-text {
        font-size: 12px;
        max-width: 150px;
    }

    .key-icon {
        font-size: 36px;
    }

    .key-icon-tip {
        font-size: 10px;
        width: 70px;
        left: -25px;
    }
}