@keyframes rotation {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

@keyframes counterRotation {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(-360deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 100%;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100%);
        opacity: 0
    }
    100% {
        transform: translateX(0);
        opacity: 100%;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-100%);
        opacity: 0
    }
    100% {
        transform: translateX(0);
        opacity: 100%;
    }
}

@keyframes slideLeftSkew {
    0% {
        transform: skew(-8deg) translateX(100%);
        opacity: 0
    }
    100% {
        transform: skew(-8deg) translateX(0);
        opacity: 100%;
    }
}

@keyframes slideRightSkew {
    0% {
        transform: skew(8deg) translateX(-100%);
        opacity: 0
    }
    100% {
        transform: skew(8deg) translateX(0);
        opacity: 100%;
    }
}