@-webkit-keyframes bgImageFade {
    from {
        opacity: 0;
    } to {
        opacity: .2;
    }
}

@-webkit-keyframes rotation {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes counterRotation {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(-360deg);
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes slideLeft {
    0% {
        transform: translateX(100%);
        opacity: 0
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes slideRight {
    0% {
        transform: translateX(50px);
        opacity: 0
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes slideLeftSkew {
    0% {
        transform: skew(-8deg) translateX(100%);
        opacity: 0
    }
    100% {
        transform: skew(-8deg) translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes slideRightSkew {
    0% {
        transform: skew(8deg) translateX(-100%);
        opacity: 0
    }
    100% {
        transform: skew(8deg) translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes scrollArrow {
    0% {
        opacity: .5;
        transform: translateY(0);
    }
    50% {
        opacity: 1;
        transform: translateY(10px);
    }
    100% {
        opacity: .5;
        transform: translateY(0); 
    }
}

/* KEYFRAMES */

@keyframes bgImageFade {
    from {
        opacity: 0;
    } to {
        opacity: .2;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

@keyframes counterRotation {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(-360deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100%);
        opacity: 0
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-100%);
        opacity: 0
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeftSkew {
    0% {
        transform: skew(-8deg) translateX(100%);
        opacity: 0
    }
    100% {
        transform: skew(-8deg) translateX(0);
        opacity: 1;
    }
}

@keyframes slideRightSkew {
    0% {
        transform: skew(8deg) translateX(-100%);
        opacity: 0
    }
    100% {
        transform: skew(8deg) translateX(0);
        opacity: 1;
    }
}

@keyframes scrollArrow {
    0% {
        opacity: .5;
        transform: translateY(0);
    }
    50% {
        opacity: 1;
        transform: translateY(10px);
    }
    100% {
        opacity: .5;
        transform: translateY(0); 
    }
}