* {
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg-color);
    padding: 10px;
}

.bg-image {
    position: fixed;
    width: 90%;
    z-index: -3;
    top: -30%;
    left: 5%;
    opacity: .2;
    -webkit-animation: 2s ease-in 1 bgImageFade;
    animation: 2s ease-in 1 bgImageFade;
}

#skew-bg-left, #skew-bg-right {
    position: fixed;
    background-color: var(--main-bg-skew-color);
    top: -20%;
    width: 40vw;
    height: 160vh;
    z-index: -2;
    opacity: .85;
}

#skew-bg-left {
    left: -15vw;
    transform: skew(8deg);
    -webkit-animation: 1.4s ease-out 1 slideRightSkew;
    animation: 1.4s ease-out 1 slideRightSkew;
    box-shadow: 2px 2px 5px 2px var(--main-grey);
}

#skew-bg-right {
    right: -15vw;
    transform: skew(-8deg);
    -webkit-animation: 1.4s ease-out 1 slideLeftSkew;
    animation: 1.4s ease-out 1 slideLeftSkew;
    box-shadow: -2px 2px 5px 2px var(--main-grey);
}

.hex-box-other {
    -webkit-animation: 1.8s ease-out 1 slideRight;
    animation: 1.8s ease-out 1 slideRight;
}

.content-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.content-box-heading {
    position: relative;
    font-size: clamp(1.25rem, 2.5vw, 1.75rem);
    background: var(--main-white);
    color: var(--main-black);
    text-shadow: 1px 1px 1px white;
    margin-bottom: 1rem;
    padding: 0.1em 1.8em;
    opacity: .8;
    clip-path: var(--parallelogram);
}

.content-box-outer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 57vh;
    width: 43vw;
    min-width: 18rem;
    border: 2px solid goldenrod;
    box-shadow: 2px 2px 2px 2px black;
}

.content-box-outer::before, .content-box-outer::after {
    position: absolute;
    content:"";
    transform: rotate(135deg);
    border: 3.94vw solid transparent;
    z-index: 2;
    transition-duration: 0.2s;
}

.content-box-outer::before {
    top: -5vw;
    left: -5vw;
    border-top: 3.94vw solid rgba(218,165,32,.95);
    box-shadow: 0px -12px 12px -12px black;
}

.content-box-outer::after {
    bottom: -5vw;
    right: -5vw;
    border-bottom: 3.94vw solid rgba(218,165,32,.95);
    box-shadow: 0px 12px 12px -12px black;
}

.content-field {
    position: relative;
    border: 2px solid goldenrod;
    border-radius: 15px;
    height: 95%;
    width: 95%;
    padding: 10px;
    overflow: scroll;
    transition-duration: 0.2s;
    z-index: 1;
    background: rgba(40,40,40,0.85);
}

.content-box-outer:hover .content-field {
    transform: scale(1.06);
    border-radius: 0;
    transition-duration: 0.2s;
}

.content-box-outer:hover::before {
    top: -4vw;
    left: -4vw;
    transition-duration: 0.2s;
}

.content-box-outer:hover::after {
    bottom: -4vw;
    right: -4vw;
    transition-duration: 0.2s;
}

.navbar-dark {
    box-shadow: 0 5px 5px 8px black;
    opacity: .85;
    transition-duration: 0.2s;
}

.navbar-dark:hover {
    opacity: 1;
    transition-duration: 0.2s;
}

.nav-link {
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid var(--main-grey);
}

.nav-link:hover {
    border-bottom: 2px solid white;
    transition-duration: 0.2s;
}

.social {
    position: fixed;
    right: 2%;
    bottom: 12%;
    background-color: var(--main-grey);
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    box-shadow: 2px 2px 2px black;
    transition-duration: 0.3s;
    z-index: 2;
}

.social:hover {
    transform: scale(1.1);
    transition-duration: 0.3s;
}

.icon {
    margin: 10px auto;
    color: var(--main-white);
    font-size: 1.25rem;
    transition-duration: 0.1s;
}

.icon:hover {
    transform: scale(1.2);
    filter: brightness(1.2);
    transition-duration: 0.1s;
}

.icon:hover .tip-text {
    visibility: visible;
}

/* .social a:first-child .icon:hover {
    color: rgb(21,105,191);
}

.social a:nth-child(2) .icon:hover {
    color: rgb(152,70,166);
}

.social a:nth-child(3) .icon:hover {
    color: rgb(78,206,119);
}

.social a:nth-child(4) .icon:hover {
    background: linear-gradient(
        rgb(140,53,176), 
        rgb(215,61,71), 
        rgb(225,190,110)
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.social a:nth-child(5) .icon:hover {
    background: linear-gradient(to right,
        rgb(70,136,240) 0% 25%,
        rgb(202,60,52) 25% 50%,
        rgb(250,187,45) 50% 75%, 
        rgb(58,167,87) 75% 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.social a:nth-child(6) *:hover {
    color: goldenrod;
} */

.tip-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    font-size: clamp(6px, 1vw, 12px);
    background: var(--main-black);
    padding: 5px;
    border-radius: 10px;
    top: -0.2em;
    right: 2rem;
    visibility: hidden;
}

.seal-box {
    position: absolute;
    right: 2%;
    top: 2%;
}

.seal-tip {
    top: 10%;
    left: -26em;
    width: 25em;
    opacity: 0;
    color: var(--main-white);
    text-align: center;
    transition-duration: 0.2s;
    z-index: 1;
}

#seal { 
    width: 50px;
    transition-duration: 0.3s;
}

.seal-box:hover .tip-text {
    visibility: visible;
    opacity: 1;
    transition-duration: 0.2s;
}

.seal-box:hover #seal {
    transform: scale(1.2);
    filter: brightness(1.25);

}

h2 {
    text-shadow: 1px 1px 1px black;
    color: white;
    margin: 1.5em;
}

h3 {
    text-align: center;
}