* {
    box-sizing: border-box;
}

body {
    background-color: rgb(69,87,96);
    padding: 10px;
}

.navbar-dark {
    box-shadow: 0 5px 5px 8px black;
}

.nav-link {
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid rgb(52,58,64);
}

.nav-link:hover {
    border-bottom: 2px solid white;
    transition-duration: 0.2s;
}

.social {
    position: fixed;
    right: 2%;
    bottom: 15%;
    background-color: rgb(52,58,64);
    height: 240px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 2px 2px 2px black;
}

.icon {
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(220,220,220);
    font-size: 20px;
}

.icon:hover {
    transform: scale(1.2);
    color: white;
    transition-duration: 0.1s;
}

.icon:hover .tip-text {
    visibility: visible;
}

.tip-text {
    position: absolute;
    font-size: 12px;
    background-color: rgb(26,29,32);
    padding: 5px;
    border-radius: 10px;
    top: -0.2rem;
    left: -4.5rem;
    visibility: hidden;
    opacity: 80%;
}

.pt-1 {
    padding-top: 3em;
}

h2 {
    margin: 1.5em;
    text-shadow: 1px 1px 1px black;
    color: white;
}

h3 {
    text-align: center;
    text-shadow: 1px 1px 1px black;
    color: white;
}

#contact-form {
    position: relative;
    width: 60vw;
    margin-left: 13vw;
    margin-top: 30vh;
    background: rgb(26,29,32);
    padding: 20px;
    border: 2px solid goldenrod;
    border-radius: 15px;
}

#contact-form button {
    border: 2px solid rgb(179, 136, 27);
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    background: rgb(179, 136, 27);
    color: rgb(220,220,220);
    border-radius: 10px;
    transition-duration: 0.2s;
}

#contact-form button:hover {
    transform: scale(103%);
    border: 2px solid rgb(209, 166, 57);
    background: rgb(209, 166, 57);
    transition-duration: 0.2s;
}

#contact-form::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: -5rem;
    left: -5rem;
    border: 50px solid transparent;
    transform: rotate(135deg);
    border-top: 50px solid goldenrod;
    box-shadow: 0px -12px 12px -12px black;
}

#contact-form::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    bottom: -5rem;
    right: -5rem;
    border: 50px solid transparent;
    transform: rotate(135deg);
    border-bottom: 50px solid goldenrod;
    box-shadow: 0px 12px 12px -12px black;
}

#contact-form-outer {
    position: absolute;
    top: -1rem;
    left: -1rem;
    height: 109%;
    width: 104.3%;
    border: 2px solid goldenrod;
    z-index: -1;
    box-shadow: 2px 2px 2px 2px black;
}

@media (max-width: 700px) {
    #contact-form-outer {
        width: 108.5%;
    }
}

input:-webkit-autofill, input:-webkit-autofill:focus {
    -webkit-text-fill-color: rgb(220,220,220);
    -webkit-box-shadow: 0 0 0px 1000px rgb(52,58,64) inset;
    box-shadow: 0 0 0px 1000px rgb(52,58,64) inset;
    transition: background-color 5000s ease-in-out 0s;
}

.form-control {
    border-color: grey;
    background-color: rgb(52,58,64) !important;
    color: white !important;
    resize: none;
    box-shadow: 2px 2px 2px black;
}

.form-control:focus {
    border-color: rgb(255,0,0);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(255,0,0,0.6);
}

#hourglass {
    position: absolute;
    bottom: 15vh;
    right: 100px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid gold;
    border-bottom: 20px solid black;
    opacity: 75%;
    transition-duration: 0.3s;
}

#hourglass:hover {
    opacity: 100%;
    animation: rotation 1.5s linear infinite;
}

#hourglass::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: -15px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid black;
    transition-duration: 0.6s;
}

#hourglass:hover::before {
    transform: translate(0, -25px) rotate(180deg);
    transition-duration: 0.6s;

}

#hourglass::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: -15px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid gold;
    transition-duration: 0.6s;
}

#hourglass:hover::after {
    transform: translate(0, 25px) rotate(180deg);
    transition-duration: 0.6s;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}