* {
    box-sizing: border-box;
}

body {
    background-color: rgb(69,87,96);
    padding: 10px;
}

.bg-image {
    position: fixed;
    width: 90%;
    z-index: -3;
    top: -37%;
    left: 5.1%;
    opacity: .2;
    -webkit-animation: 2s ease-in 1 bgImageFade;
    animation: 2s ease-in 1 bgImageFade;
}

#skew-bg-left, #skew-bg-right {
    position: fixed;
    background-color: rgb(50,67,76);
    top: -20%;
    width: 40vw;
    height: 160vh;
    z-index: -2;
}

#skew-bg-left {
    left: -15vw;
    transform: skew(8deg);
    -webkit-animation: 1.4s ease-out 1 slideRightSkew;
    animation: 1.4s ease-out 1 slideRightSkew;
    box-shadow: 2px 2px 5px 2px rgb(40,40,40);
}

#skew-bg-right {
    right: -15vw;
    transform: skew(-8deg);
    -webkit-animation: 1.4s ease-out 1 slideLeftSkew;
    animation: 1.4s ease-out 1 slideLeftSkew;
    box-shadow: -2px 2px 5px 2px rgb(40,40,40);
}

.hex-box-other {
    -webkit-animation: 1.8s ease-out 1 slideRight;
    animation: 1.8s ease-out 1 slideRight;
}

.content-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-box-heading {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 300px;
    background: rgb(220,220,220);
    color: rgb(26,29,32);
    text-shadow: 1px 1px 1px white;
}

.content-box-heading::before, .content-box-heading::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
}

.content-box-heading::before {
    left: -1.7rem;
    border-left: 28px solid transparent;
    border-bottom: 33px solid rgb(220,220,220);
}

.content-box-heading::after {
    right: -1.7rem;
    border-right: 28px solid transparent;
    border-top: 33px solid rgb(220,220,220);
}

.content-box-outer {
    position: absolute;
    top: 8%;
    height: 57vh;
    width: 43.3vw;
    border: 2px solid goldenrod;
    box-shadow: 2px 2px 2px 2px black;
}

.content-box-outer::before, .content-box-outer::after {
    position: absolute;
    content:"";
    width: 0;
    height: 0;
    transform: rotate(135deg);
    border: 50px solid transparent;
    z-index: 1;
    transition-duration: 0.2s;
}

.content-box-outer::before {
    top: -16%;
    left: -4em;
    border-top: 50px solid goldenrod;
    box-shadow: 0px -12px 12px -12px black;
}

.content-box-outer::after {
    bottom: -16%;
    right: -4em;
    border-bottom: 50px solid goldenrod;
    box-shadow: 0px 12px 12px -12px black;
}

.content-field {
    position: relative;
    border: 2px solid goldenrod;
    border-radius: 15px;
    margin: auto 20vw 10vh 20vw;
    width: 41.5vw;
    height: 54.5vh;
    padding: 30px 10px 10px 10px;
    background-color: rgb(26,29,32);
    overflow: scroll;
    transition-duration: 0.2s;
    z-index: 1;
}

.content-field:hover {
    transform: scale(1.04);
    border-radius: 0;
    transition-duration: 0.2s;
}

.content-field:hover + .content-box-outer::before {
    top: -13.2%;
    left: -9%;
    transition-duration: 0.2s;
}

.content-field:hover + .content-box-outer::after {
    bottom: -13.2%;
    right: -9.5%;
    transition-duration: 0.2s;
}

.navbar-dark {
    box-shadow: 0 5px 5px 8px black;
}

.nav-link {
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid rgb(52,58,64);
}

.nav-link:hover {
    border-bottom: 2px solid white;
    transition-duration: 0.2s;
}

.social {
    position: fixed;
    right: 1%;
    bottom: 12%;
    background-color: rgb(52,58,64);
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    box-shadow: 2px 2px 2px black;
    transition-duration: 0.3s;
    z-index: 2;
}

.social:hover {
    transform: scale(1.1);
    transition-duration: 0.3s;
}

.icon {
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(220,220,220);
    font-size: 20px;
}

.icon:hover {
    transform: scale(1.2);
    color: white;
    transition-duration: 0.1s;
}

.icon:hover .tip-text {
    visibility: visible;
}

.tip-text {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    font-size: 12px;
    background-color: rgb(26,29,32);
    padding: 5px;
    border-radius: 10px;
    top: -0.2rem;
    right: 2rem;
    visibility: hidden;
    opacity: .8;
}

.seal-box {
    position: absolute;
    right: 2%;
    top: 2%;
}

.seal-tip {
    top: 10%;
    left: -325px;
    width: 300px;
    opacity: .9;
    color: rgb(220,220,220);
    text-align: center;
    transition-duration: 0.3s;
    z-index: 1;
}

#seal { 
    width: 50px;
    transition-duration: 0.3s;
}

.seal-box:hover .tip-text {
    visibility: visible;
}

.seal-box:hover #seal {
    transform: scale(1.2);
    filter: brightness(1.25);

}

.pt-1 {
    padding-top: 3em;
}

h2 {
    margin: 1.5em;
    text-shadow: 1px 1px 1px black;
    color: white;
}

h3 {
    text-align: center;
    text-shadow: 1px 1px 1px black;
    color: white;
}

@media only screen and (max-width: 600px) {
    .content-box-outer {
        width: 276px;
    }

    .content-box-outer::before {
        border: 35px solid transparent;
        border-top: 35px solid goldenrod;
        top: -11%;
        left: -17%;
    }

    .content-box-outer::after {
        border: 35px solid transparent;
        border-bottom: 35px solid goldenrod;
        bottom: -11%;
        right: -17%;
    }

    .content-field {
        height: 380px;
        width: 266px;
    }

    .content-field:hover + .content-box-outer::before {
        top: -9.5%;
        left: -13.5%;
        transition-duration: 0.2s;
    }
    
    .content-field:hover + .content-box-outer::after {
        bottom: -9.5%;
        right: -13.5%;
        transition-duration: 0.2s;
    }
}