.contact-box {
    margin: 1rem 0 2rem 0;
}

.contact-icon {
    position: relative;
    color: goldenrod;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    transition-duration: 0.2s;
}

.contact-icon:hover {
    filter: brightness(2);
    transform: scale(1.05);
    transition-duration: 0.2s;
}

.contact-icon p {
    position: absolute;
    top: 30%;
    left: 120%;
    color: rgb(220,220,220);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.5em;
    font-weight: bold;
    width: 15em;
}

.qr-box {
    margin: 0 auto;
    width: 18rem;
}

.qr-box p {
    transition-duration: 0.3s;
    color: rgb(220,220,220);
    font-weight: bold;
    text-transform: uppercase;
    margin: 2rem 0 6rem 0;
}

.qr-box:hover #qr-code {
    transform: scale(1.1);
    transition-duration: 0.3s;
}

#qr-code {
    border: 10px solid rgb(26,29,32);
    width: 12rem;
    border-radius: 35px;
    transition-duration: 0.3s;
}