.contact-field {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact-box {
    margin: 1.5rem 0;
}

.contact-icon {
    position: relative;
    color: goldenrod;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    transition-duration: 0.2s;
    left: 15%;
}

.contact-icon:hover {
    filter: brightness(2);
    transform: scale(1.05);
    transition-duration: 0.2s;
}

.contact-icon p {
    position: absolute;
    top: 30%;
    left: 120%;
    color: var(--main-white);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.5em;
    font-weight: bold;
    width: 15em;
}

#qr-code {
    border: 10px solid var(--main-black);
    width: 15vw;
    min-width: 8rem;
    border-radius: 35px;
    transition-duration: 0.3s;
}

#qr-code:hover {
    transform: scale(1.1);
    transition-duration: 0.3s;
}

#qr-code-text {
    transition-duration: 0.3s;
    color: var(--main-white);
    font-weight: bold;
    text-transform: uppercase;
    margin: 2rem 0 6rem 0;
}