.contact-box {
    margin: 30px
}

.contact-icon {
    position: relative;
    color: goldenrod;
    font-size: 48px;
    transition-duration: 0.2s;
}

.contact-icon:hover {
    filter: brightness(2);
    transform: scale(1.2);
    transition-duration: 0.2s;
}

.contact-icon p {
    position: absolute;
    top: 25%;
    left: 120%;
    color: rgb(220,220,220);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    width: 400px;
}

.qr-box {
    margin: 0 auto;
    width: 300px;
}

.qr-box p {
    transition-duration: 0.3s;
    color: rgb(220,220,220);
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 90px;
}

.qr-box:hover #qr-code {
    transform: scale(1.1);
    transition-duration: 0.3s;
}

.qr-box:hover p {
    transform: translateY(-70px);
    transition-duration: 0.3s;
}

#qr-code {
    border: 10px solid rgb(26,29,32);
    width: 200px;
    border-radius: 35px;
    transition-duration: 0.3s;
}

@media only screen and (max-width: 700px) {
    .contact-box {
        margin-left: 0%;
        padding-top: 8%;
    }

    .contact-icon {
        font-size: 24px;
    }

    .contact-icon p {
        font-size: 16px;
    }

    .contact-icon:hover {
        transform: scale(1.05);
    }

    #qr-code {
        width: 160px;
    }
}