.hex-box-main {
    position: relative;
    margin-top: 50px;
    margin-bottom: 200px;
    font-size: clamp(1.5rem, 3vw, 2rem);
}

.hex-box-main #hex-gold {
    -webkit-animation: rotation 8s linear infinite;
    animation: rotation 8s linear infinite;
    animation-play-state: paused;
}

.hex-box-main #hex-goldenrod {
    -webkit-animation: counterRotation 2s linear infinite;
    animation: counterRotation 2s linear infinite;
    -webkit-animation-delay: 0ms, 300ms;
    animation-delay: 0ms, 300ms;
    animation-play-state: paused;
}

.hex-box-main #hex-greyspace-lg, .hex-box-main #hex-ring-lg {
    -webkit-animation: rotation 2s linear infinite;
    animation: rotation 2s linear infinite;
    animation-play-state: paused;
}

.hex-box-main:hover #hex-gold, .hex-box-main:hover #hex-goldenrod, .hex-box-main:hover #hex-greyspace-lg, .hex-box-main:hover #hex-ring-lg  {
    animation-play-state: running;
}

.hex-box-main:hover #hex-smallest {
    transform: translateY(-1.4em);
    transition-duration: 0.3s;
}

#hex-ring-lg {
    position: absolute;
    width: 4.65em;
    height: 2.7em;
    background: goldenrod;
    top: -0.455em;
    left: -0.77em;
    z-index: -2;
    filter: drop-shadow(0 0 5px goldenrod);
    transition-duration: 0.3s;
}

#hex-ring-lg::before, #hex-ring-lg::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 2.34em solid transparent;
    border-right: 2.34em solid transparent;
}

#hex-ring-lg::before {
    top: -1.4em;
    border-bottom: 1.4em solid goldenrod;
}

#hex-ring-lg::after {
    bottom: -1.4em;
    border-top: 1.4em solid goldenrod;
}

#hex-greyspace-lg {
    position: absolute;
    width: 4.36em;
    height: 2.6em;
    background: rgb(50,67,76);
    top: -0.4em;
    left: -0.64em;
    transition-duration: 0.3s;
}

#hex-greyspace-lg::before, #hex-greyspace-lg::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 2.2em solid transparent;
    border-right: 2.2em solid transparent;
}

#hex-greyspace-lg::before {
    top: -1.3em;
    border-bottom: 1.3em solid rgb(50,67,76);
}

#hex-greyspace-lg::after {
    bottom: -1.3em;
    border-top: 1.3em solid rgb(50,67,76);
}

#hex-gold {
    position: absolute;
    width: 3.13em;
    height: 1.88em;
    background: gold;
    z-index: 1;
}

#hex-gold::before, #hex-gold::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 1.565em solid transparent;
    border-right: 1.565em solid transparent;
    z-index: -1;
}

#hex-gold::before {
    top: -0.94em;
    border-bottom: 0.94em solid gold;
}

#hex-gold::after {
    bottom: -0.94em;
    border-top: 0.94em solid gold;
}

#hex-goldenrod {
    position: absolute;
    width: 2.5em;
    height: 1.5em;
    background: goldenrod;
    top: 1.565em;
    left: 1.15em;
    opacity: .8;
    filter: drop-shadow(0 0 5px goldenrod);
    transition-duration: 0.3s;
}

#hex-goldenrod::before, #hex-goldenrod::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 1.25em solid transparent;
    border-right: 1.25em solid transparent;
}

#hex-goldenrod::before {
    top: -0.75em;
    border-bottom: 0.75em solid goldenrod;
}

#hex-goldenrod::after {
    bottom: -0.75em;
    border-top: 0.75em solid goldenrod;
}

#hex-ring-sm {
    position: absolute;
    width: 1.13em;
    height: 0.69em;
    background: yellow;
    bottom: -1.25em;
    left: -1.25em;
}

#hex-ring-sm::before, #hex-ring-sm::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 0.56em solid transparent;
    border-right: 0.56em solid transparent;
}

#hex-ring-sm::before {
    top: -0.34em;
    border-bottom: 0.34em solid yellow;
}

#hex-ring-sm::after {
    bottom: -0.34em;
    border-top: 0.34em solid yellow;
}

#hex-greyspace-sm {
    position: absolute;
    width: 0.75em;
    height: 0.44em;
    background: rgb(50,67,76);
    top: 0.09em;
    left: 0.18em;
}

#hex-greyspace-sm::before, #hex-greyspace-sm::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 0.36em solid transparent;
    border-right: 0.36em solid transparent;
}

#hex-greyspace-sm::before {
    top: -0.22em;
    border-bottom: 0.22em solid rgb(50,67,76);
}

#hex-greyspace-sm::after {
    bottom: -0.22em;
    border-top: 0.22em solid rgb(50,67,76);
    z-index: 1;
}

#hex-smallest {
    position: absolute;
    width: 0.75em;
    height: 0.44em;
    background: gold;
    top: 1.4em;
    z-index: 2;
    transition-duration: 0.3s;
}

#hex-smallest::before, #hex-smallest::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 0.36em solid transparent;
    border-right: 0.36em solid transparent;
}

#hex-smallest::before {
    top: -0.22em;
    border-bottom: 0.22em solid gold;
}

#hex-smallest::after {
    bottom: -0.22em;
    border-top: 0.22em solid gold;
    z-index: 1;
}

.hex-box-main h2 {
    position: absolute;
    background: rgb(26,29,32);
    padding-left: 10px;
    padding-right: 10px;
    bottom: -6rem;
    left: 7.5rem;
    font-size: clamp(1.5rem, 3vw, 2rem);
    text-shadow: 2px 2px 1px rgb(70,87,96);
}

.hex-box-main h2::before, .hex-box-main h2::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
}

.hex-box-main h2::before {
    left: -0.9em;
    border-left: 0.9em solid transparent;
    border-top: 1.2em solid rgb(26,29,32);
}

.hex-box-main h2::after {
    right: -0.9em;
    border-right: 0.9em solid transparent;
    border-bottom: 1.2em solid rgb(26,29,32);
}