.hex-box-main {
    position: relative;
    margin-top: 50px;
    margin-bottom: 200px;
}

.hex-box-main:hover #hex-gold {
    animation: rotation 8s linear infinite;
}

.hex-box-main:hover #hex-smallest {
    transform: translateY(-45px);
    transition-duration: 0.3s;
}

.hex-box-main:hover #hex-goldenrod {
    animation: counterRotation 2s linear infinite;
    animation-delay: 0ms, 300ms;
}

.hex-box-main:hover #hex-greyspace-lg {
    animation: rotation 2s linear infinite;
    transition-duration: 0.3s;
}

.hex-box-main:hover #hex-ring-lg {
    animation: rotation 2s linear infinite;
}

#hex-ring-lg {
    position: absolute;
    width: 150px;
    height: 86px;
    background: goldenrod;
    top: -14px;
    left: -25px;
    z-index: -2;
    transition-duration: 0.3s;
}

#hex-ring-lg::before, #hex-ring-lg::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
}

#hex-ring-lg::before {
    top: -45px;
    border-bottom: 45px solid goldenrod;
}

#hex-ring-lg::after {
    bottom: -45px;
    border-top: 45px solid goldenrod;
}

#hex-greyspace-lg {
    position: absolute;
    width: 140px;
    height: 84px;
    background: rgb(50,67,76);
    top: -13px;
    left: -20px;
    transition-duration: 0.3s;
}

#hex-greyspace-lg::before, #hex-greyspace-lg::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
}

#hex-greyspace-lg::before {
    top: -42px;
    border-bottom: 42px solid rgb(50,67,76);
}

#hex-greyspace-lg::after {
    bottom: -42px;
    border-top: 42px solid rgb(50,67,76);
}

#hex-gold {
    position: absolute;
    width: 100px;
    height: 60px;
    background: gold;
    z-index: 1;
}

#hex-gold::before, #hex-gold::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

#hex-gold::before {
    top: -30px;
    border-bottom: 30px solid gold;
}

#hex-gold::after {
    bottom: -30px;
    border-top: 30px solid gold;
    z-index: -1;
}

#hex-goldenrod {
    position: absolute;
    width: 80px;
    height: 48px;
    background: goldenrod;
    top: 50px;
    left: 37px;
    opacity: 80%;
    transition-duration: 0.3s;
}

#hex-goldenrod::before, #hex-goldenrod::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
}

#hex-goldenrod::before {
    top: -24px;
    border-bottom: 24px solid goldenrod;
}

#hex-goldenrod::after {
    bottom: -24px;
    border-top: 24px solid goldenrod;
}

#hex-ring-sm {
    position: absolute;
    width: 36px;
    height: 22px;
    background: yellow;
    bottom: -40px;
    left: -40px;
}

#hex-ring-sm::before, #hex-ring-sm::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
}

#hex-ring-sm::before {
    top: -11px;
    border-bottom: 11px solid yellow;
}

#hex-ring-sm::after {
    bottom: -11px;
    border-top: 11px solid yellow;
}

#hex-greyspace-sm {
    position: absolute;
    width: 24px;
    height: 14px;
    background: rgb(50,67,76);
    top: 3px;
    left: 6px;
}

#hex-greyspace-sm::before, #hex-greyspace-sm::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
}

#hex-greyspace-sm::before {
    top: -7px;
    border-bottom: 7px solid rgb(50,67,76);
}

#hex-greyspace-sm::after {
    bottom: -7px;
    border-top: 7px solid rgb(50,67,76);
    z-index: 1;
}

#hex-smallest {
    position: absolute;
    width: 24px;
    height: 14.4px;
    background: gold;
    top: 45px;
    z-index: 2;
    transition-duration: 0.3s;
}

#hex-smallest::before, #hex-smallest::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
}

#hex-smallest::before {
    top: -7.2px;
    border-bottom: 7.2px solid gold;
}

#hex-smallest::after {
    bottom: -7.2px;
    border-top: 7.2px solid gold;
    z-index: 1;
}

.hex-box-main h2 {
    position: absolute;
    background: rgb(26,29,32);
    padding-left: 10px;
    padding-right: 10px;
    bottom: -95px;
    left: 120px;
    text-shadow: 2px 2px 1px rgb(70,87,96);
}

.hex-box-main h2::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: -1.75rem;
    border-left: 28px solid transparent;
    border-top: 38px solid rgb(26,29,32);
}

.hex-box-main h2::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    right: -1.75rem;
    border-right: 28px solid transparent;
    border-bottom: 38px solid rgb(26,29,32);
}