#home-box {
    animation: 1.5s ease-out 1 fadeIn;
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 100%;
    }
}

#hex-home-outer {
    position: absolute;
    top: 30%;
    left: 49%;
    transform: rotate(-90deg);
    border-bottom: 180px solid rgb(169, 127, 21);
    border-left: 112.5px solid transparent;
    border-right: 112.5px solid transparent;
    height: 0;
    width: 450px;
}

#hex-home-grey {
    position: absolute;
    top: 27.5%;
    left: 60.6%;
    width: 360px;
    height: 216px;
    background: rgb(69,87,96);
}

#hex-home-grey::before, #hex-home-grey::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 180px solid transparent;
    border-right: 180px solid transparent;
}

#hex-home-grey::before {
    top: -108px;
    border-bottom: 108px solid rgb(69,87,96);
}

#hex-home-grey::after {
    bottom: -108px;
    border-top: 108px solid rgb(69,87,96);
}

#hex-home {
    position: absolute;
    top: 30%;
    left: 63%;
    width: 300px;
    height: 180px;
    background: goldenrod;
    z-index: 1;
}

#hex-home::before, #hex-home::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
}

#hex-home::before {
    top: -90px;
    border-bottom: 90px solid goldenrod;
}

#hex-home::after {
    bottom: -90px;
    border-top: 90px solid goldenrod;
    z-index: -1;
}

.home-pic {
    position: absolute;
    top: -63px;
    width: 100%;
    border-radius: 50%;
}

.home-position {
    top: 27.5vh;
    left: 3vw;
    animation: 1.5s ease-out 1 slideRight;
}

.home-position #hex-grey, .home-position #hex-smaller {
    background-color: rgb(25,28,31);
}

.home-position #hex-grey::before {
    border-bottom: 42px solid rgb(25,28,31);
}

.home-position #hex-grey::after {
    border-top: 42px solid rgb(25,28,31);
}

.home-position #hex-smaller::before {
    border-bottom: 7px solid rgb(25,28,31);
}

.home-position #hex-smaller::after {
    border-top: 7px solid rgb(25,28,31);
}

.name-box {
    position: absolute;
    top: 14%;
    animation: 1.5s ease-out 1 slideRight;
}

#first-name {
    position: relative;
    text-align: center;
    text-shadow: 2px 2px 1px rgb(70,87,96);
    width: 300px;
    padding: 5px;
    color: rgb(220,220,220);
    background-color: rgb(25,28,31);
    font-size: 44px;
    top: 20vh;
    left: 20vw;
}

#first-name::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0rem;
    left: -3.1rem;
    border-left: 50px solid transparent;
    border-top: 62px solid rgb(26,29,32);
}

#first-name::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    bottom: 0rem;
    right: -3.1rem;
    border-right: 50px solid transparent;
    border-bottom: 62px solid rgb(26,29,32);
}

#title {
    position: relative;
    text-align: center;
    height: 60px;
    top: 13.3vh;
    left: 16.2vw;
    width: 300px;
    padding-top: 10px;
    padding-left: 10px;
    color: rgb(25,28,31);
    background-color: rgb(220,220,220);
    text-shadow: 2px 2px 1px white;
}

#title::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0rem;
    left: -3.1rem;
    border-left: 50px solid transparent;
    border-bottom: 60px solid rgb(220,220,220);
}

#title::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    bottom: 0rem;
    right: -3.1rem;
    border-right: 50px solid transparent;
    border-top: 60px solid rgb(220,220,220);
}

#test-back {
    position: fixed;
    width: 0;
    height: 0;
    top: -12%;
    left: -5%;
    border-top: 42em solid rgb(26,29,32);
    border-right: 74em solid transparent;
    z-index: -2;
    animation: 1.5s ease-out 1 slideRight;
}

#test-back-2 {
    position: fixed;
    width: 0;
    height: 0;
    right: 0%;
    bottom: -13%;
    border-bottom: 42em solid rgb(26,29,32);
    border-left: 74em solid transparent;
    animation: 1.5s ease-out 1 slideLeft;
}

@keyframes slideLeft {
    0% {
        transform: translateX(100%);
        opacity: 0
    }
    100% {
        transform: translateX(0);
        opacity: 100%;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-100%);
        opacity: 0
    }
    100% {
        transform: translateX(0);
        opacity: 100%;
    }
}