#home-bg-upper, #home-bg-lower {
    position: fixed;
    width: 0;
    height: 0;
    z-index: -2;
    opacity: .9;
}

#home-bg-upper {
    top: -10vh;
    left: -5vw;
    border-top: 93vh solid var(--main-bg-skew-color);
    border-right: 93vw solid transparent;
    -webkit-animation: 1.5s ease-out 1 slideRight;
    animation: 1.5s ease-out 1 slideRight;
}

#home-bg-lower {
    bottom: -10vh;
    right: 0vw;
    border-bottom: 93vh solid var(--main-bg-skew-color);
    border-left: 93vw solid transparent;
    -webkit-animation: 1.5s ease-out 1 slideLeft;
    animation: 1.5s ease-out 1 slideLeft;
}

.hex-box-home {
    top: 3.5rem;
    left: 0vw;
    -webkit-animation: 1.5s ease-out 1 slideRight;
    animation: 1.5s ease-out 1 slideRight;
}

#my-title {
    position: absolute;
    top: 15rem;
    left: 20rem;
    left: 25vw;
    width: 30vw;
    -webkit-animation: 1.5s ease-out 1 slideRight;
    animation: 1.5s ease-out 1 slideRight;
    transition-duration: 0.2s;
}

#my-title:hover {
    transform: scale(1.1);
    transition-duration: 0.2s;
}

#my-face {
    position: absolute;
    top: 4rem;
    right: 5rem;
    width: 30vw;
    -webkit-animation: 1.5s ease-out 1 fadeIn;
    animation: 1.5s ease-out 1 fadeIn;
    transition-duration: 0.2s;
}

#my-face:hover {
    transform: scale(1.1);
    transition-duration: 0.2s;
}

@media only screen and (max-width: 700px) {
    .hex-box-home {
        top: -8rem;
    }

    #my-title {
        top: 18rem;
        left: 1rem;
        width: 45vw;
    }

    #my-face {
        top: 13rem;
        right: 4rem;
        width: 35vw;
    }
}