#home-bg-upper {
    position: fixed;
    width: 0;
    height: 0;
    top: -12%;
    left: -5%;
    border-top: 42em solid rgb(50,67,76);
    border-right: 74em solid transparent;
    z-index: -2;
    animation: 1.5s ease-out 1 slideRight;
}

#home-bg-lower {
    position: fixed;
    width: 0;
    height: 0;
    right: 0%;
    bottom: -13%;
    border-bottom: 42em solid rgb(50,67,76);
    border-left: 74em solid transparent;
    animation: 1.5s ease-out 1 slideLeft;
}

.hex-box-home {
    top: 27.5vh;
    left: 3vw;
    animation: 1.5s ease-out 1 slideRight;
}

.name-box {
    position: absolute;
    top: 14%;
    animation: 1.5s ease-out 1 slideRight;
}

#my-name {
    position: relative;
    text-align: center;
    text-shadow: 2px 2px 1px rgb(70,87,96);
    width: 300px;
    padding: 5px;
    color: rgb(220,220,220);
    background-color: rgb(25,28,31);
    font-size: 44px;
    top: 20vh;
    left: 20vw;
}

#my-name::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0rem;
    left: -3.1rem;
    border-left: 50px solid transparent;
    border-top: 62px solid rgb(26,29,32);
}

#my-name::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    bottom: 0rem;
    right: -3.1rem;
    border-right: 50px solid transparent;
    border-bottom: 62px solid rgb(26,29,32);
}

#my-title {
    font-size: 28px;
    position: relative;
    text-align: center;
    height: 60px;
    top: 14vh;
    left: 16.6vw;
    width: 300px;
    padding-top: 10px;
    padding-left: 10px;
    color: rgb(25,28,31);
    background-color: rgb(220,220,220);
    text-shadow: 2px 2px 1px white;
}

#my-title::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0rem;
    left: -3.1rem;
    border-left: 50px solid transparent;
    border-bottom: 60px solid rgb(220,220,220);
}

#my-title::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    bottom: 0rem;
    right: -3.1rem;
    border-right: 50px solid transparent;
    border-top: 60px solid rgb(220,220,220);
}

.pic-box {
    animation: 1.5s ease-out 1 fadeIn;
}

#pic-trapezoid {
    position: absolute;
    top: 28.5%;
    left: 48.2%;
    transform: rotate(-90deg);
    border-bottom: 200px solid rgb(169, 127, 21);
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    height: 0;
    width: 475px;
}

#pic-greyspace {
    position: absolute;
    top: 27.5%;
    left: 60.6%;
    width: 360px;
    height: 216px;
    background: rgb(69,87,96);
}

#pic-greyspace::before, #pic-greyspace::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 180px solid transparent;
    border-right: 180px solid transparent;
}

#pic-greyspace::before {
    top: -108px;
    border-bottom: 108px solid rgb(69,87,96);
}

#pic-greyspace::after {
    bottom: -108px;
    border-top: 108px solid rgb(69,87,96);
}

#pic-hex {
    position: absolute;
    top: 30%;
    left: 63%;
    width: 300px;
    height: 180px;
    background: goldenrod;
    z-index: 1;
}

#pic-hex::before, #pic-hex::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
}

#pic-hex::before {
    top: -90px;
    border-bottom: 90px solid goldenrod;
}

#pic-hex::after {
    bottom: -90px;
    border-top: 90px solid goldenrod;
}

#my-face {
    position: absolute;
    top: -50px;
    left: 65px;
    width: 60%;
    border-radius: 50%;
    filter: drop-shadow(0 0 5px white);    
    transition-duration: 0.2s;
    z-index: 1;
}

#my-face:hover {
    transform: scale(1.1);
    transition-duration: 0.2s;
}

@media (max-width: 700px) {
    #home-bg-upper {
        left: -50%;
    }

    #home-bg-lower {
        right: -40%;
    }

    .hex-box-home {
        top: 0%;
    }

    #pic-trapezoid {
        visibility: hidden;
    }

    #pic-greyspace {
        visibility: hidden;
    }

    #pic-hex {
        top: 33%;
        left: 52%;
    }

    .name-box {
        left: -10%;
        top: 20%;
    }

    #my-name {
        font-size: 28px;
        width: 200px;
    }

    #my-name::before {
        border-top: 43px solid rgb(26,29,32);
    }

    #my-name::after {
        border-bottom: 43px solid rgb(26,29,32);
    }

    #my-title {
        font-size: 20px;
        top: 110px;
        left: 100px;
        height: 45px;
        width: 200px;
    }

    #my-title::before {
        border-bottom: 45px solid rgb(220,220,220);
    }

    #my-title::after {
        border-top: 45px solid rgb(220,220,220);
    }
}