#project-bg-left, #project-bg-right {
    position: fixed;
    width: 0;
    height: 0;
    z-index: -2;
}

#project-bg-left {
    top: -20vh;
    left: -20vw;
    border-top: 145vh solid rgb(50,67,76);
    border-right: 78vw solid transparent;
    -webkit-animation: 1.5s ease-out 1 slideRight;
    animation: 1.5s ease-out 1 slideRight;
}

#project-bg-right {
    bottom: -20vh;
    right: -10vw;
    border-bottom: 145vh solid rgb(50,67,76);
    border-left: 78vw solid transparent;
    -webkit-animation: 1.5s ease-out 1 slideLeft;
    animation: 1.5s ease-out 1 slideLeft;
}

.project-box {
    position: relative;
    margin: -15vh 0 175vh -9vh;
}

.project-hex {
    position: relative;
    width: 320px;
    height: 192px;
}

.project-hex::before, .project-hex::after {
    content: "";
    position: absolute;
    border-left: 160px solid transparent;
    border-right: 160px solid transparent;
}

.project-hex::before {
    top: -96px;
}

.project-hex::after {
    bottom: -96px;
}

.project-hex:hover .project-desc {
    opacity: 1;
    transition-duration: 0.3s;
}

.project-hex:hover .project-pic {
    opacity: 0;
    transition-duration: 0.3s;
}

.project-hex-2 {
    position: absolute;
    width: 330px;
    height: 200px;
    top: -4px;
    left: -5px;
    background-color: rgb(70,87,96);
    z-index: -1;
}

.project-hex-2::before, .project-hex-2::after {
    content: "";
    position: absolute;
    border-left: 165px solid transparent;
    border-right: 165px solid transparent;
}

.project-hex-2::before {
    top: -100px;
    border-bottom: 100px solid rgb(70,87,96);
}

.project-hex-2::after {
    bottom: -100px;
    border-top: 100px solid rgb(70,87,96);
}

.project-hex-3 {
    position: absolute;
    width: 340px;
    height: 208px;
    top: -8px;
    left: -10px;
    background-color: goldenrod;
    z-index: -2;
}

.project-hex-3::before, .project-hex-3::after {
    content: "";
    position: absolute;
    border-left: 170px solid transparent;
    border-right: 170px solid transparent;
}

.project-hex-3::before {
    top: -104px;
    border-bottom: 104px solid goldenrod;
}

.project-hex-3::after {
    bottom: -104px;
    border-top: 104px solid goldenrod;
}

#project-1 {
    position: absolute;
    top: 250px;
    left: 155px;
    background: rgb(99,40,52);
}

#project-1::before {
    border-bottom: 96px solid rgb(99,40,52);
}

#project-1::after {
    border-top: 96px solid rgb(99,40,52);
}

#project-2 {
    position: absolute;
    top: 555px;
    left: 323px;
    background: rgb(61,75,130);
}

#project-2::before {
    border-bottom: 96px solid rgb(61,75,130);
}

#project-2::after {
    border-top: 96px solid rgb(61,75,130);
}

#project-3 {
    position: absolute;
    top: 250px;
    left: 490px;
    background: rgb(117,77,180);
}

#project-3::before {
    border-bottom: 96px solid rgb(117,77,180);
}

#project-3::after {
    border-top: 96px solid rgb(117,77,180);
}

#project-4 {
    position: absolute;
    top: 555px;
    left: 658px;
    background: rgb(193,98,204);
}

#project-4::before {
    border-bottom: 96px solid rgb(193,98,204);
}

#project-4::after {
    border-top: 96px solid rgb(193,98,204);
}

#project-5 {
    position: absolute;
    top: 250px;
    left: 826px;
    background: rgb(108,37,152);
}

#project-5::before {
    border-bottom: 96px solid rgb(108,37,152);
}

#project-5::after {
    border-top: 96px solid rgb(108,37,152);
}

.project-pic {
    width: 120%;
    transition-duration: 0.3s;
    position: absolute;
    left: -10%;
    top: -10%;
}

.project-desc {
    position: absolute;
    top: -50px;
    opacity: 0;
    font-size: 14px;
    z-index: 2;
    transition-duration: 0.3s;
}

.project-desc h3 {
    color: gold;
    font-size: 24px;
}

.project-about {
    text-align: center;
    color: rgb(220,220,220);
    margin: 0 10%;
    font-weight: bold;
}

.project-skills {
    text-align: center;
    color: rgb(220,220,220);
    margin: 10% 10%;
    font-weight: bold;
}

.project-links {
    margin: 10% 10%;
    color: goldenrod;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.project-links a {
    color: goldenrod;
    text-decoration: none;
    transition-duration: 0.2s;
}

.project-links a:hover {
    border-bottom: 2px solid goldenrod;
    transition-duration: 0.2s;
}

@media only screen and (max-width: 800px) {
    .project-box {
        padding-bottom: 100vh;
    }

    #project-1 {
        left: 70px;
    }

    #project-2 {
        left: 238px;
    }

    #project-3 {
        top: 860px;
        left: 70px;
    }

    #project-4 {
        top: 1167px;
        left: 238px;
    }

    #project-5 {
        top: 1474px;
        left: 70px;
    }
}