* {
    box-sizing: border-box;
}

body {
    background-color: rgb(69,87,96);
    padding: 10px;
}

.nav-link {
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid rgb(52,58,64);
}

.nav-link:hover {
    border-bottom: 2px solid white;
    transition-duration: 0.2s;
}

.social {
    position: fixed;
    right: 2%;
    bottom: 15%;
    background-color: rgb(52,58,64);
    height: 170px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 2px 2px 2px black;
}

.icon {
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(155,155,155);
    font-size: 20px;
}

.icon:hover {
    transform: scale(1.2);
    color: white;
    transition-duration: 0.1s;
}

.pt-1 {
    padding-top: 3em;
}

h2 {
    margin: 1.5em;
    text-shadow: 1px 1px 1px black;
    color: white;
}

h3 {
    text-align: center;
    text-shadow: 1px 1px 1px black;
    color: white;
}

/* .wrapper {
    position: relative;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 100px;
} */

.project-wrapper {
    position: relative;
    justify-content: center;
    margin-top: 80px;
    margin-left: -115px;
    margin-bottom: 1140px;
}

.wrap {
    position: relative;
    height: 500px;
    width: 500px;
    margin: 2px;
}

.square {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: grey;
    border-radius: 15px;
    transition-duration: 0.2s;
    z-index: 1;
}

.square:hover {
    opacity: 0%;
    transition-duration: 0.2s;
}

.about-wrapper {
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-text {
    width: 60vw;
    color: rgb(220,220,220);
    text-indent: 30px;
    text-align: justify;
    margin-bottom: 50px;
}

label {
    color: rgb(220,220,220);
    text-shadow: 1px 1px 1px black;
}

.card {
    border-radius: 15px;
    background-color: rgb(52,58,64);
    margin-bottom: 100px;
}

.table-responsive {
    border-radius: 15px;
    width: 60vw;
}

.table {
    text-align: center;
    border-radius: 15px;
    margin-bottom: 0;
}

#contact-form {
    width: 60vw;
    margin-left: 13vw;
    margin-top: 25vh;
}

input:-webkit-autofill, input:-webkit-autofill:focus {
    -webkit-text-fill-color: rgb(220,220,220);
    -webkit-box-shadow: 0 0 0px 1000px rgb(52,58,64) inset;
    transition: background-color 5000s ease-in-out 0s;
}

.form-control {
    border-color: grey;
    background-color: rgb(52,58,64) !important;
    color: white !important;
    resize: none;
    box-shadow: 2px 2px 2px black;
}

.form-control:focus {
    border-color: rgb(255,0,0);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(255,0,0,0.6);
}

.mask {
    position: relative;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    /* background-color: grey; */
}

.desc {
    position: absolute;
    top: -30px;
    opacity: 0%;
    transition-duration: 0.2s;
}

.desc h3 {
    color: gold;
}

.project-pic {
    width: 120%;
    transition-duration: 0.2s;
    position: absolute;
    left: -10%;
    top: -10%;
    /* -webkit-filter: drop-shadow(0 0 1rem white); */
    /* filter: drop-shadow(0 0 1rem white); */
}

.project-about {
    text-align: center;
    color: rgb(220,220,220);
    margin: 0 10%;
    font-weight: bold;
}

.project-skills {
    text-align: center;
    color: rgb(220,220,220);
    margin: 10% 10%;
    font-weight: bold;
}

.project-links {
    text-align: center;
    color: rgb(220,220,220);
    margin: 10% 10%;
    font-weight: bold;
}

.project-links a {
    color: rgb(220,220,220);
    text-transform: uppercase;
    text-decoration: none;
}

.project-links a:hover {
    border-bottom: 2px solid white;
}

.shape-box {
    margin-top: 50px;
    position: relative;
}

.shape-box h2 {
    position: absolute;
    bottom: -95px;
    left: 90px;
}

#hex-gold {
    width: 100px;
    height: 60px;
    background: gold;
    position: absolute;
    z-index: 1;
}

#hex-gold::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: -30px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 30px solid gold;
}

#hex-gold::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: -30px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 30px solid gold;
    z-index: -1;
}

#hex-grey {
    width: 140px;
    height: 84px;
    background: rgb(69,87,96);
    position: absolute;
    top: -13px;
    left: -20px;
}

#hex-grey::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: -42px;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 42px solid rgb(69,87,96);
}

#hex-grey::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: -42px;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-top: 42px solid rgb(69,87,96);
}

#hex-outer {
    width: 150px;
    height: 86px;
    background: goldenrod;
    position: absolute;
    top: -14px;
    left: -25px;
    z-index: -2;
}

#hex-outer::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: -45px;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 45px solid goldenrod;
}

#hex-outer::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: -45px;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-top: 45px solid goldenrod;
}

#hex-goldenrod {
    width: 80px;
    height: 48px;
    background: goldenrod;
    position: absolute;
    top: 50px;
    left: 37px;
    opacity: 80%;
}

#hex-goldenrod::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: -24px;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 24px solid goldenrod;
}

#hex-goldenrod::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: -24px;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 24px solid goldenrod;
}

#hex-small {
    width: 36px;
    height: 22px;
    background: yellow;
    position: absolute;
    bottom: -40px;
    left: -40px;
}

#hex-small::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: -11px;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 11px solid yellow;
}

#hex-small::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: -11px;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 11px solid yellow;
}

#hex-smaller {
    width: 24px;
    height: 14px;
    background: rgb(69,87,96);
    position: absolute;
    top: 3px;
    left: 6px;
}

#hex-smaller::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: -7px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 7px solid rgb(69,87,96);
}

#hex-smaller::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: -7px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 7px solid rgb(69,87,96);
    z-index: 1;
}

#hex-smallest {
    width: 24px;
    height: 14.4px;
    background: gold;
    position: absolute;
    top: 45px;
}

#hex-smallest::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: -7.2px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 7.2px solid gold;
}

#hex-smallest::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: -7.2px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 7.2px solid gold;
    z-index: 1;
}

#hourglass {
    position: absolute;
    bottom: 15vh;
    right: 100px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid gold;
    border-bottom: 20px solid black;
    opacity: 75%;
    transition-duration: 0.3s;
}


#hourglass:hover {
    transform: rotate(180deg);
    opacity: 100%;
    transition-duration: 0.3s;
}

#hourglass::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: -15px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid black;
    transition-duration: 0.3s;
}

#hourglass:hover::before {
    transform: translate(0, -25px) rotate(180deg);
    transition-duration: 0.3s;
}

#hourglass::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: -15px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid gold;
    transition-duration: 0.3s;
}

#hourglass:hover::after {
    transform: translate(0, 25px) rotate(180deg);
    transition-duration: 0.3s;
}

.project-hex {
    width: 400px;
    height: 240px;
    /* background: rgb(42,48,54); */
    position: relative;
}


.project-hex::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: -120px;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    /* border-bottom: 120px solid rgb(42,48,54); */
}

.project-hex::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: -120px;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    /* border-top: 120px solid rgb(42,48,54); */
    z-index: -1;
}

.project-hex:hover .desc {
    opacity: 100%;
    transition-duration: 0.2s;
}

.project-hex:hover .project-pic {
    opacity: 0%;
    transition-duration: 0.2s;
}

#project-1 {
    position: absolute;
    top: 250px;
    left: 50px;
    background: rgb(110,14,34)
}

#project-1::before {
    border-bottom: 120px solid rgb(110,14,34);
}

#project-1::after {
    border-top: 120px solid rgb(110,14,34);
}

#project-2 {
    position: absolute;
    top: 630px;
    left: 260px;
    background: rgb(61,75,130);
}

#project-2::before {
    border-bottom: 120px solid rgb(61,75,130);
}

#project-2::after {
    border-top: 120px solid rgb(61,75,130);
}

#project-3 {
    position: absolute;
    top: 250px;
    left: 470px;
    background: rgb(117,77,180);
}

#project-3::before {
    border-bottom: 120px solid rgb(117,77,180);
}

#project-3::after {
    border-top: 120px solid rgb(117,77,180);
}


#project-4 {
    position: absolute;
    top: 630px;
    left: 680px;
    background: rgb(213,118,224);
}

#project-4::before {
    border-bottom: 120px solid rgb(213,118,224);
}

#project-4::after {
    border-top: 120px solid rgb(213,118,224);
}

#project-5 {
    position: absolute;
    top: 250px;
    left: 890px;
    background: rgb(88,17,132);
}

#project-5::before {
    border-bottom: 120px solid rgb(88,17,132);
}

#project-5::after {
    border-top: 120px solid rgb(88,17,132);
}

