* {
    box-sizing: border-box;
}

body {
    background-color: rgb(69,87,96);
}

.nav-link {
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid rgb(52,58,64);
}

.nav-link:hover {
    border-bottom: 2px solid white;
    transition-duration: 0.2s;
}

.social {
    position: fixed;
    right: 2%;
    bottom: 15%;
    background-color: rgb(52,58,64);
    height: 170px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 2px 2px 2px black;
}

.icon {
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(155,155,155);
    font-size: 20px;
}

.icon:hover {
    transform: scale(1.2);
    color: white;
    transition-duration: 0.1s;
}

.pt-1 {
    padding-top: 3em;
}

h2 {
    margin: 1.5em;
    text-shadow: 1px 1px 1px black;
    color: white;
}

h3 {
    text-align: center;
    text-shadow: 1px 1px 1px black;
    color: white;
}

.wrapper {
    justify-content: center;
}

.wrap {
    position: relative;
    height: 500px;
    width: 500px;
    margin: 2px;
}

.square {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: grey;
    border-radius: 15px;
    transition-duration: 0.2s;
}

.square:hover {
    opacity: 0%;
    transition-duration: 0.2s;
}

.about-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    border-radius: 15px;
    background-color: rgb(52,58,64);
}

.table-responsive {
    border-radius: 15px;
    width: 60vw;
}

.table {
    text-align: center;
    border-radius: 15px;
    margin-bottom: 0;
}

#contact-form {
    width: 60vw;
    margin-left: 50px;
}

.form-control {
    border-color: grey;
    background-color: rgb(52,58,64) !important;
    color: white !important;
    resize: none;
}